*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color:white;
}
.header {
    display:flex;
    background-color: #070707;
    justify-content: space-around;
    
}

.nav-icons {
    display: flex;
    gap: 15px;
}
.nav-icons img {
    width: 20px;
    height: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
}
.hero{
    display:flex;
    justify-content: space-around;
    background-color: rgb(241, 228, 230);
}
.hero-image img{
        width: 100%;
        height: auto;
     
}
.hero-logo img{
    width: 311px;
    height: 92px;;
    margin: 20px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}
.category {
    position: relative;
    margin-bottom: 10px;
}

.category img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.category:hover img {
    transform: scale(1.1);
}

.featured-items {
padding: 20px;
font-family: Lato, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: center;

}
.featured-title {
    text-align: center;
    margin-bottom: 20px;
}
.product-grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  gap:15px;
}
.product-card {
    background-color: white;
    text-align: center;
}
.text {
font-family: Lato, sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 16.8px;
color:#9F9F9F;

}
.product-card img {
    width: 100%;
    height: auto;
}
.product-title {
    margin: 10px 0;
}
.product-price {
    color: #ff69b4;
    font-weight: bold;
}

.categories {
    display:flex;
            
            justify-content: center;
            padding: 10px;
        }
.category {
           
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
    
        .category-text h3{
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
   
    position: absolute;

    color: #F16D7F;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 5px;
        }
.category-text p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
font-family: Lato, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
color: #FFFFFF;

        }
        
        .featured-items {
            padding: 20px;
        }
        .featured-title {
            text-align: center;
            margin: 10px;
            font-size: 20px;
        }
        
        .product-card {
            background-color: white;
            padding: 10px;
            text-align: center;
        }
        .product-card img {
            width: 100%;
            height: auto;
        }
        .product-title {
            margin: 10px 0;
            font-size: 16px;
        }
        .product-description {
            font-size: 12px;
            margin-bottom: 10px;
        }
        .product-price {
            color: #ff69b4;
            font-weight: bold;
        }
        .button{
            margin: 20px 0 0;
        }

        /* Мобильная версия (320-767px) */
        @media (min-width: 320px) and (max-width: 767px) {
            .header{
            padding: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .hero-image{
                display:none;
            }
            
            .product-grid {

                display: grid;
                grid-template-columns: 1fr;
                gap: 15px;
                margin: 15px;
            }    
            
            .hero-logo{
                display: flex;
                justify-content: center;
                max-width: 263px;
                margin: 10%;
            }
            .nav-icons img {
                width: 16px;
                height: 16px;
            }
            .categories img{
                max-width: 343px;
                max-height: 100%;
                
            }
            .category-text h3 {
                font-size: 16px;
                margin-top: 30px;
            }
            .category-text p {
                font-size: 12px;
            }
            .featured-title {
                font-size: 18px;
            }
            .product-title {
                font-size: 14px;
            }
            .product-description {
                font-size: 11px;
            }
            .product-price {
                font-size: 13px;
            }
        }
    
        
      

/* Планшетная версия (768-1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    
    .header{
        padding: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero{
        display: flex;
        align-items: center;
        padding: 40px;
    }
    .hero-image{
        flex:1;
    }
    
    .nav-icons img {
        width: 20px;
        height: 20px;
    }

    .categories {
        display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
    }
    .category {
        flex: 1 1 calc(33.333% - 20px);
        position: relative;
        overflow: hidden;
    }
    .category-text p{
        margin-top: -50px;
    }
    .featured-title{
            font-size: 18px;
         
    }
    
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 15px;
    }
    .browse-all {
        width: 60%;
    }
}

/* Десктопная версия (1025px и выше) */
@media (min-width: 1024px) {
        .header{
            padding: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    .logo {
        font-size: 26px;
    }
    .nav-icons img {
        width: 24px;
        height: 24px;
    }
    .hero {
        display: flex;
        align-items: center;
        padding: 40px;
    }
    .hero-image {
        flex: 1;
    }
    .hero-title {
        flex: 1;
        font-size: 36px;
        margin-top: 0;
        padding-left: 40px;
    }

    .categories {
        display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
    }
    .category {
        flex: 1 1 calc(33.333% - 20px);
        position: relative;
        overflow: hidden;
    }
    .category-text h3 {
        font-size: 22px;
    }
    .category-text p {
        font-size: 16px;
        margin-top: -50px;
    }
    .featured-title {

        font-size: 28px;
        
    }
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin: 15px;
    }
    .product-card {
        padding: 10px;
        max-width: 100%;
    }

        .product-grid {
            display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3);
           
            
        }
    .product-title {
        font-size: 18px;
    }
    .product-description {
        font-size: 14px;
    }
    .browse-all {
        width: 40%;
        font-size: 16px;
    }
}